<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <main>
        <h1>@ViewBag.Title</h1>
        @RenderBody()
    </main>
</body>
</html>
